name: Tests

on:
  pull_request_target:
    branches:
      - "main"
  push:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        terraform:
          - "1.9.*"
          - "1.10.*"
          - "1.11.*"

    permissions:
      contents: read
      id-token: write

    env:
      PR_NUMBER: ${{ github.event.pull_request.number }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        if: "contains(github.event_name, 'pull_request')"
        with:
          ref: refs/pull/${{ env.PR_NUMBER }}/merge

      - name: checkout from push event
        if: github.event_name == 'push'
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: ./go.mod

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false

      - run: go mod download

      - run: go build -v .

      - run: TF_ACC=1 go test -v -cover ./internal/provider/

  check:
    permissions:
      actions: read
    needs:
      - test
    runs-on: ubuntu-latest
    if: always() # always run as required and if any dependent job is skipped, this is skipped if not always
    steps:
      - uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: step-security/workflow-conclusion-action@e624ac1e0582b6498a4ddaa8cf623532fc7b95ea # v3.0.9

      - name: Handle conclusion
        env:
          CONCLUSION: ${{ env.WORKFLOW_CONCLUSION }}
        working-directory: /tmp
        run: |
          if [[ "${CONCLUSION}" == "success" ]]; then
            echo "${CONCLUSION}" && exit 0
          elif [[ "${CONCLUSION}" == "failure" ]]; then
            echo "${CONCLUSION}" && exit 1
          fi
