name: Tests

on:
  pull_request_target:
    branches:
      - "main"
  push:
    branches:
      - "main"

permissions: {}

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        terraform:
          - "1.11.*"
          - "1.12.*"
          - "1.13.*"
          - "1.14.*"

    permissions:
      contents: read
      id-token: write

    env:
      PR_NUMBER: ${{ github.event.pull_request.number }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: "contains(github.event_name, 'pull_request')"
        with:
          ref: refs/pull/${{ env.PR_NUMBER }}/merge
          persist-credentials: false

      - name: checkout from push event
        if: github.event_name == 'push'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: ./go.mod
          cache: false
          check-latest: true

      - uses: hashicorp/setup-terraform@5e8dbf3c6d9deaf4193ca7a8fb23f2ac83bb6c85 # v4.0.0
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false

      - run: go mod download

      - run: go build -v .

      - run: TF_ACC=1 go test -v -cover ./internal/provider/

  check:
    permissions:
      actions: read
    needs:
      - test
    runs-on: ubuntu-latest
    if: always() # always run as required and if any dependent job is skipped, this is skipped if not always
    steps:
      - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: step-security/workflow-conclusion-action@e624ac1e0582b6498a4ddaa8cf623532fc7b95ea # v3.0.9

      - name: Handle conclusion
        env:
          CONCLUSION: ${{ env.WORKFLOW_CONCLUSION }}
        working-directory: /tmp
        run: |
          if [[ "${CONCLUSION}" == "success" ]]; then
            echo "${CONCLUSION}" && exit 0
          elif [[ "${CONCLUSION}" == "failure" ]]; then
            echo "${CONCLUSION}" && exit 1
          fi
